<template>
  <div class="keyboard">
      <div id="container-alphanumeric">
          <div v-for="column in letters_set" v-bind:key="column">
              <div class="row">
                  <div  v-for="item in column" v-bind:key="item">
                      <button 
                        type="button"
                        class= "col-item col-1 character"
                        v-on:click="queryLetter(item)">
                        {{item.toUpperCase()}}
                      </button>
                  </div>
              </div>      
          </div>
      </div>
    </div>
    <div class="search-results">
      <h2>Resultados de la búsqueda:</h2>
  </div>
</template>

<style>

.keyboard {

}

h2 {
  padding-top: 10px;
  text-align: center;
}

.character{
    margin:10px;
    width: 60px;
    padding: 9px 9px 10px;
}
    
.search {
    padding:7px;
    border-radius: 5px;
    margin-top:0.7em;
    font-weight: bold;
    
}

/* div "Resultados de la búsqueda" */
.search-results {
  color: #2B6E8E; 
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}
    

/*searh class="result" in div {{search}}*/
.result{
  font-weight: bold;
  color: #2B6E8E;
  margin-left: 5px;
}

/*input id="text" for search*/
#text{
  transition: all 0.3s ease;
  margin-left: 20px;
  color: black;
  border: 1px dotted #999;
  -webkit-appearance: none;

}
    
#container-alphanumeric {
  margin: 20px auto;
  background-color: #eaecef;
  max-width: 900px;
  min-width: 300px;
  border-radius: 5px;
  padding-top: 10px;
  
}

.row { 
  display:flex;
  flex-wrap: wrap;
  color: rgba(0,0,0,1);
  font-weight: 700;
  text-shadow: none;
  margin: 0 50px;
}


.col-item {
  text-align: center;
  flex-grow: 1;
  flex-shrink: 2;
  flex-basis: 1;
  background-color:  #2B6E8E;
  /*border: 1.5px solid #dedede;*/
  border-radius: 10px; 
}

.col-1 {
  max-width: calc(100% / 1);
  background: #eaecef; /* #cbbcf6 */
  transition: all 0.16s ease-in;
}

.title {
  font-weight: 100;
  padding: 10px;
  text-align: center;
  color: #1e40af;
}

.hi {
  color: #aaa;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

/*hover*/

button{
  font-size:20px;
  cursor:pointer;
  color: #838796;
  font-weight: lighter;
  box-shadow: 0 2px 2px rgba(0,0,0,.2) inset, 0 0 0 rgba(0,0,0,0);
  margin: 0 10px;
  border: none;
}


button:hover {
  color:#2B6E8E;
  background-color:#ffffff ;
  font-size:20px;
  font-weight: 900;
  box-shadow: 0 0 0 rgba(0,0,0,0) inset,
      0 2px 2px rgba(0,0,0,.1),
      0 4px 4px rgba(0,0,0,.1),
      0 8px 8px rgba(0,0,0,.1);
}

button:active {
  background: rgba(0,0,0,.02);
    box-shadow: 0 -4px 4px rgba(0,0,0,.1) inset, 0 0 0 rgba(0,0,0,0);
}

@media screen and (max-width: 768px) {
  .container {
    overflow: auto;
  }
   .col-item {
     min-width: 100%;
     width: 100%;
     margin: 10px 0;
  }
}

</style>

<script>
 import _ from 'lodash';
 export default {
   name: 'Alpahabet Index',
   data() {
     /*
        map letters with urls
        request = url + api + ^letter
      */
     let letters_set = this.orderCollection(
       this.letters,
       this.columns);
     return {
       "letters_set" : letters_set,
     }
   },
   props: [
     "letters", 
     "url", 
     "api", 
     "columns",
     "mode",
     "groups"
   ],
   emits: ["queryUrl"],
   methods: {
     orderCollection(letters, columns){
       let newCollection = _(letters)
       //.sortBy((item) => {return item})
       .chunk(columns)
       .value();
       return newCollection;
     },
     queryLetter(item){ 
       const start="^";
       const query = `${this.url}${this.api}/?${this.mode}=${start}${item}`;
       this.$emit("queryUrl", query);
     }
   }
 }   
</script>
