<template>
<div class="group-concept">
    <b id="concept">☞ {{item.concept}}:</b>
</div>
<div class="group-definition">
<p id="definition"><i>★ {{item.definition}}</i></p> 
</div>
</template>

<style scoped>

#concept {
    margin-left: 20px;
    color:#434142;
    font-size: 22px;
}

#definition {
    color: #434142;
    margin-left: 20px;
    margin-top: 2px;
    margin-bottom: 10px;
    text-align: auto;
    font-size: 20px;
}

</style>

<script>
 export default {
  props: ["item"]
}
</script>
