<template>
<div v-for="(group, letter) in groups" v-bind:key="letter">
  <group_definition :letter="letter" :group="group"/>
</div>
</template>

<style scoped>

</style>


<script>
import group_definition from './group_definition.vue';

export default {
 name: 'Dictionary',
 components: {
   group_definition
 },
  props: ["groups"]
}
</script>
