<template>
  <search
    :url="url"
    :api="api"
    @queryUrl="queryUrl"></search>
  <alphabet 
    :letters="letters"
    :url="url"
    :api="api" 
    :columns="columns"
    :mode="mode"
    :groups="groups"
    @queryUrl="queryUrl"></alphabet>
  <div class="pagination">
    <button
      type="button"
      class="page-previous"
      v-on:click="lookPrevious()"
    >
      <font-awesome-icon :icon="['fas', 'chevron-circle-left']"  />
    </button>
    <button
      type="button"
      class="page-next"
      v-on:click="lookNext()"
    >
     <font-awesome-icon :icon="['fas', 'chevron-circle-right']"  />
    </button>
  </div>
  <dictionary :groups="groups"/>
</template>
<script>
 import dictionary from './dictionary.vue';
 import search from './search.vue';
 import alphabet from './alphabet.vue';
 import _ from 'lodash';

 /*
    Icons from FontAwesomeIcon
  */
 import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
 import { library } from '@fortawesome/fontawesome-svg-core'
 import { 
   faUserSecret, 
   faChevronCircleRight, 
   faChevronCircleLeft,
   faSearch
 } 
 from '@fortawesome/free-solid-svg-icons'
 import { faFontAwesome } from '@fortawesome/free-brands-svg-icons'

 library.add(faUserSecret)
 library.add(faFontAwesome)
 library.add(faChevronCircleRight)
 library.add(faChevronCircleLeft)
 library.add(faSearch)

 /* ends icon call*/

 export default {
   name: 'glosary',
   components: {
     search,
     dictionary,
     alphabet,
     FontAwesomeIcon
   },
   data(){
     console.log("Init data for glosary");
     if (typeof this.data === 'undefined'){
       this.data = {dataset:[]}
     }
     let properties = this.readProperties();
     let glosary = [];
     if (this.data.dataset.length > 0) {
       glosary = this.createGlosary(this.data.dataset);
     }
     let result = {
       groups: glosary, 
       search: "gps",
       mode: "search",
       in_content: false,
       message:"",
       next:null,
       previous:null,
       ...properties
     };
     return result;
   },
   methods: {
     readProperties(){
       let json = document.getElementById("glosary-properties").textContent;
       let properties = JSON.parse(json);
       if (typeof properties.letters === 'undefined') {
         properties.letters = this.createAlphabet();
       }
       if (properties.letters.length===0) {
         properties.letters = this.createAlphabet();
       }
       if (typeof properties.columns === 'undefined' || properties.columns <=5) {
         properties.columns = 10;
       }

       return properties;
     },
     createAlphabet(){
       const alpha = Array.from(Array(26)).map((e, i) => i + 65);
       let alphabet = alpha.map((x) => String.fromCharCode(x));
       let index_n = alphabet.indexOf("N");
       alphabet.splice(index_n, 0, "Ñ");
       const numbers = [0,1,2,3,4,5,6,7,8,9];
       const numeric = numbers.map((x) =>  x.toString());
       let alphanumeric = numeric.concat(alphabet);
       return alphanumeric;
     },
     getList(){
       this.axios.get("api").then((response)=>{
         console.log("respuesta", response)
       })
     },
     searchText(){
       let item = this.search;
       const query = `${this.url}${this.api}/?${this.mode}=${item}`;
       this.queryUrl(query);
     },
     queryUrl(query){
       if (query !== null){
         this.axios.get(query).then((response) => {
           this.onChangeGroup(response)
         } );
       }
     },
     inContent(event){
       let checkbox = event;
       if (checkbox === true){
         this.mode = "search_def"
       } else {
         this.mode = 'search'
       }
     },
     createGlosary(dataset) {
       let grouped_dataset = _(dataset)
         .sortBy((item) => {return item.concept})
         .groupBy((item) => {
           return item.concept.substring(0,1)})
         .value();
       return grouped_dataset;
     },
     onChangeGroup(response){
       //debugger
       let dataset = response.data.results;
       this.next = response.data.next;
       this.previous = response.data.previous;
       this.groups = this.createGlosary(dataset)
     },
     lookPrevious(){
       this.queryUrl(this.previous);
     },
     lookNext(){
       this.queryUrl(this.next);
     },

   }
 }
</script>

<style>

 .input-search{
   margin-top: 3px;
   display: inline-flex;
   flex-direction: column;
 }

 .search {
   position: relative;
   top: 3px;
 }

 /*#text {
    margin-top: 25px;
    width: 200px;
    height: 20px;
    border-radius: 2.5px;
    }*/


 #text:valid,
 #text:focus {
   margin-top: 25px;
   border: 0;
   border-bottom: 2px solid #2B6E8E;
   outline: none;
   text-align: left;
   font-size: 20px;
   font-family: "Times New Roman", Times, serif;
   letter-spacing: 0.5px;

 }


 label{
   margin-left: 43px;
   margin-top: -20px;
 }

 #message{
   padding: 0.1px;
   margin-left: 20px;

 }

 #result-message{
   color:#2B6E8E;
   font-weight: bold;
 }

 #checkbox_content {
   width: 20px;
   height: 20px;
   cursor: pointer;
   position: relative;
   top: 3px;
   left: 5px;
   margin-left: 15px;
   cursor: pointer;

 }

 .pagination {
   display: flex;
   justify-content: space-between;
   margin-top: 5px;
 }

 .page-previous {
   margin-left: 20px;
   border-radius: 90px;
   transition: all 0.16s ease-in;
 }

 .page-next {
   border-radius: 90px;
   transition: all 0.16s ease-in;
 }

</style>
