<template>
  <div class="group-letter">
    <h4 id="initial-letter">{{letter}}</h4>
  </div>
  <section v-for="item in group" v-bind:key="item">
	<definition :item="item"/>
  </section>  
</template>
<style type="text/css">

#initial-letter{
  margin-left: 18px;
  color: white;
  font-size: 30px;
}

.group-letter {
  background: linear-gradient(to right, #334E4F, #4D6A79);
  border-radius: 30px;

}

</style>
<script>
import definition from './definition.vue';

export default {
  name: 'Group Definition',
  components: {
	definition
  },
  props: ["letter", "group"]
}
</script>
