<template>
  <section>
    <div class="input-search">
      <input 
        id="text" 
        v-model="search">
      <input 
        id="checkbox_content" 
        type="checkbox" 
        v-model="in_content"
        @change="inContent(in_content)">
      <label 
        for="checkbox_content">
        Definición
      </label>
      <div id="message">
        Buscando <b id="result-message">"{{search}}"</b>
      </div>
      </div>
      <button 
        type="button" 
        class="search" 
        v-on:click="searchText()">🔍 Buscar</button>
  </section>
</template>


<script>
 export default {
   name: 'Search Term',
   data(){
     return {mode:"search", search:"gps", in_content:false}
   },
   props: [
     "url",
     "api"
   ],
   emits: ["queryUrl"],
   methods: {
     searchText(){
      let item = this.search;
      const query = `${this.url}${this.api}/?${this.mode}=${item}`;
      this.$emit("queryUrl", query);
    },
     inContent(event){
       let checkbox = event;
        if (checkbox === true){
          this.mode = "search_def"
        } else {
          this.mode = 'search'
        }
     },
  }
 }
</script>

