<template>
  <glosary></glosary>
</template>
<script>
import glosary from './components/glosary.vue';

export default {
  name: 'glosary-app',
  components: {
    glosary
 }}
</script>

<style>
</style>
